#contentContainer
  %div#items

:javascript
  $(function() {
    // Blog is the app name
    window.router = new Domag.Routers.ItemsRouter({items: #{@items.to_json.html_safe}});
    Backbone.history.start();
  });
